# Entornos virtuales de Python
venv/
.venv/
env/
ENV/

# Archivos de caché y compilados de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Variables de entorno y credenciales locales
.env
.env.local
.env.*.local

# Git y control de versiones
.git/
.gitignore

# Archivos de logs
*.log

# Carpetas de editores o IDEs
.vscode/
.idea/
.qodo/

# Docker y temporales
Dockerfile
.dockerignore